<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SSD | oAuth Signin</title>
    <!-- bootstrap link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Font awasome link -->
    <script src="https://kit.fontawesome.com/bf7d47d4ac.js" crossorigin="anonymous"></script>
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Da+2|Yeon+Sung&display=swap" rel="stylesheet">
    <!-- custome style sheet -->
	  <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <ul class="nav">
        <li class="navbar-brand"><h2>SSD - OAuth 2.0</h2></li>
      </ul>
    </nav>
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="jumbotron main-jumbotron">
          <img src="logo-drive.png" alt="drive" class="cover">
          <h2>Upload Files to Your Google Drive.</h2>
          <p>Simply Sign in using your Google account to upload files to your Goodle Drive easily. You are one click away, Just login & select file for upload to your Google Drive...</p>
          <a class="btn btn-primary btn-lg" href="<%=url%>"><i class="fab fa-google"></i> Sign In</a>
        </div>
      </div>
      <p class="footer-text">SLIIT | SSD | OAuth Assignment | IT17186766 | IT17180108</p>
    </div>
  </body>
</html>
